footer {
     background-color: black;
     p {
          font-family: $lato;
          font-size: 1.6rem;
          color: white;
          text-align: center;
          padding: 5px 0px 5px;
          letter-spacing: 2px;
     }
}