nav.blogNav,
nav.contactNav {
     display: flex;
     justify-content: space-between;
}

nav {
     ul {
          display: flex;
          justify-content: flex-end;
          padding: 15px 0px;

          li {
               font-size: 1.5rem;
               padding: 20px;
               margin: 0 10px;
               
               text-transform: uppercase;
               list-style: none;
               color: blue;

               a {
                    font-family: $lato;
                    color: $black;
                    text-decoration: none;
                    transition: 0.3s ease-in-out;
                    
                    &:hover, &:focus {
                    border-bottom: 5px solid $brightYellow;
                    }
               }
          }
     }
}

