$brightYellow: #F8FB05;
$everGreen: #065635;
$white: #F5F5F5;
$ice: #E0FDDF;
$black: #151514;

$kumarOne: 'Kumar One', cursive;
$kumarOneOutline: 'Kumar One Outline', cursive;
$lato: 'Lato', sans-serif;
